{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n staticfiles gravatar %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    {{ block.super }}
    <script>
        (function(w,d,s,g,js,fs){
          g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
          js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
          js.src='https://apis.google.com/js/platform.js';
          fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
        }(window,document,'script'));
    </script>
    <style>
      .chart {
          height: 250px;
      }

      .icon-spinner {
          margin-left: 50%;
      }

      .button-group {
        float: right;
      }
    </style>
{% endblock %}

{% block titletag %}{% trans 'Analytics' %}{% endblock %}

{% block content %}
    {% trans "30 day analytics" as title_trans %}
    {% include "wagtailadmin/shared/header.html" with title=title_trans %}

    <div class="nice-padding">
        <div class="button-group">
          <button class="button" id="btn-last7">Last 7 Days</button>
          <button class="button" id="btn-last30">Last 30 Days</button>
        </div>
        <h2>Sessions <small><i>(Last <span class="range-n-days"></span> days)</i></small></h2>
        <div id="sessions-line-chart-container" class="chart"><i class="icon icon-spinner"></i></div>
        <div class="col6">
          <h2>Popular content <small><i>(Last <span class="range-n-days"></span> days)</i></small></h2>
          <div id="popular-pages-table-container"><i class="icon icon-spinner"></i></div>
        </div>
        <div class="col6">
          <h2>Top referrers <small><i>(Last <span class="range-n-days"></span> days)</i></small></h2>
          <div id="top-referrers-table-container" ><i class="icon icon-spinner"></i></div>
        </div>
    </div>
    <div hidden id="wagalytics-data" data-token="{% url 'wagalytics_token' %}" data-view-id="{{ ga_view_id }}">
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="{% static 'wagalytics/vendors.bundle.js' %}"></script>
    <script src="{% static 'wagalytics/wagalytics.bundle.js' %}"></script>
{% endblock %}
